body {
    font-family: $font-family-default;
    background: $color-mono-base;
    @include no-pad;
}

nav, ul, li {
    box-sizing: border-box;
}

ul {
    @include no-pad;
    list-style: none;
    text-align: center;
}